.App {
  text-align: center;
}

html,
body {
  background: url("./styleImages/html.png");
  background-size: cover;
  height: 100%;
}

.usernameLbl {
  font-size: 24px;
  margin-left: 10px;
  margin-top: 10px;
  color: white;
}
.chatApp {
  /* background-image: url("./styleImages/chatContainer.jpg");
  background-size: cover; */
  background-color: #cf9fff;
  display: flex;
  position: fixed;
  width: 85%;
  height: 80%;
  top: 60%;
  left: 58%;
  margin-top: -50px;
  margin-left: -100px;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
}

.chatLog {
  background-color: #c082fd;
  border-radius: 10px;
  display: flex;
  position: fixed;
  left: 10%;
  height: 95%;
  margin-left: 5px;
  margin-right: 20px;
  padding: 10px;
  padding-right: 50px;
}

.chat {
  overflow-y: auto;
  height: 80%;
  width: 900px;
}

.grouplist {
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 100px;
  max-width: 100px;
}

.message {
  border-radius: 4px;
  margin-top: 10px;
  padding: 2px;
  list-style: none;
  float: left;
  clear: left;
}
.messageSelf {
  border-radius: 4px;
  margin-top: 10px;
  padding: 2px;
  list-style: none;
  float: left;
  clear: left;
  /* float:right;
  clear:right; */
}

.usernameFont {
  align-self: "flex-end";
  border-top: "2px solid";
  font-size: "12px";
}

.login {
  background-image: url("./styleImages/chatContainer.jpg");
  background-size: cover;
  display: flex;
  position: fixed;
  width: 30;
  height: 20;
  top: 50%;
  text-align: center;
  left: 55%;
  margin-top: -50px;
  margin-left: -100px;
  transform: translate(-50%, -50%);
  padding: 20px;
  font-size: 24px;
  border-radius: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
